# vscode
.vscode/*
.vscode/

# executable files
assembler/tradutor
*/tradutor
*/a.out
*/a.exe
assembler/test/a.out
assembler/test/a.exe
tradutor/a.out
tradutor/bin
# test framework
assembler/test/unit_test/catch_framework.hpp
tradutor/test/unit_test/catch_framework.hpp

# arquivos gerados pelo pre processador
assembler/test/assets/*.pre

# Folder de arquivos IA-32
IA-32_tests/