# vscode
.vscode/*
.vscode/

# executable files
assembler/tradutor
*/tradutor
*/a.out
*/a.exe
assembler/test/a.out
assembler/test/a.exe

# test framework
assembler/test/unit_test/catch_framework.hpp
tradutor/test/unit_test/catch_framework.hpp

# arquivos gerados pelo pre processador
assembler/test/assets/*.pre